*{
    text-align: center;
}
.firstPokemon {
    display: inline-block;
}
.secondPokemon {
    display: inline-block;
}
.thirdPokemon {
    display: inline-block;
}
.fourthPokemon {
    display: inline-block;
}
.firstPokemon2 {
    display: inline-block;
}
.secondPokemon2 {
    display: inline-block;
}
.thirdPokemon2 {
    display: inline-block;
}
.fourthPokemon2 {
    display: inline-block;
}
